body{
	background: white;
	font-family: roboto, sans-serif, arial;
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 75px;
	margin-bottom: 75px;
}

header {
	/* Mise en place des boites */
	display: flex;
	flex-direction: row;
	/* modifs police de caractères */
	color: #d33b26;
	font-weight: bold;
	justify-content: space-between;
}

a {
	/* Suppression des décorations par défaut */
	text-decoration: none;
	color: black;
}
header h1 {
	flex: 1;
	margin-top: -20px;
}

header h1 a {
	color: #d33b26;
}
nav {
	position: fixed;
}

nav ul {
	list-style: none;
	font-weight: bold;
	font-size: 24px;
}

nav ul li {
	padding-bottom: 15px;
}

nav ul li a:hover{
	color: #d33b26;
}
.infos{
	padding-top: 10px;
	font-size: 12px;
}
.conteneur{

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: center;
	margin-top: 50px;
	margin-left: 300px;
	margin-right: 5%;
	

}
.conteneur img{
	width: 90%;
}

.conteneur div {
	border-style: solid;
	border-width: 4px;

	width: 90%;
	z-index: 1;
	position: absolute;
	height: 90%;
}

.conteneur article {
	display: flex;
	position: relative;
}

.article img {
	margin-top: 10%;
	margin-left: 10%;
}
.article div {
	border-color: #ff8789;
}

.article2 img {
	
}
.article2 div {
	border-color: #150e36;
	
	margin-top: 10%;
	margin-left: 10%;
}

.article3 img {	
	margin-top: 10%;
	margin-left: 10%;
}
.article3 div {
	border-color: #ff2b0a;
}

.article4 img {

}
.article4 div {
	border-color: #008a3d;

	margin-top: 10%;
	margin-left: 10%;
}


.social{
	margin-bottom: 50px;
	font-weight: bold;
	color: #d33b26;
}
.mentionsl{

	padding-top: 10px;
	
}
.social a{
	color: #d33b26;
	font-weight: bold;
}
.social a:hover{
	color: black;
}

footer{
	margin-top: 80px;
	text-align: center;

}

