body {
	font-family: helvetica;
	background-color: white;
	margin-bottom: 75px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 70px;
}


a {
	/* Suppression des décorations par défaut */
	text-decoration: none;
	color: black;
}

.bandeau {
	height: 100vh;
	width: 50vw;
	float: left;
	position: fixed;
}

.bandeau img {
	padding-left: 0%;
	padding-right: 0%;
	height: 100vh;
	width: 40vw;
}

header {
	/* Mise en place des boites */
	display: flex;
	flex-direction: row;
	/* modifs police de caractères */
	color: white;
	font-weight: bold;
	justify-content: space-between;
	margin-left: 70px;
	padding-top:75px;

}

header h1 {
	flex: 1;
	margin-top: -20px;
}

header h1 a {
	color: white;
	position: absolute;
}

footer a{
	font-weight: bold;
	color: #d33b26;
}

header .panier {
	color: #d33b26;
}

section {
	margin-left: 40vw;
	padding-left: 50px;
	padding-top: 105px;
}

section article {
	margin-bottom: 60px;
}

section article img {
	padding-bottom: 15px;
}

.bold {
	font-weight: bold;
}

footer{
	text-align: right;
}